<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>測試工具</title>

    <!-- favicon -->
    <link href="http://www.nccu.edu.tw/uploads/site/default_image/542e45757470001ec1170000/nccu_logo.png" rel="icon" type="image/png">

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery-ui-themes-1.12.1/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css"> {{{_sections.css}}}

</head>

<body>

    <header>
        <a href="https://www.iii.org.tw">
            <img src="/images/III_logo.png">
        </a>
        <a href="/">
            <img id="logo" src="/images/logo_tw.png">
        </a>
        <a href="http://www.nccu.edu.tw">
            <img src="/images/nccu_logo.jpg">
        </a>
    </header>

    {{{body}}}

    <!-- javascript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- javascript -->
    <script type="text/javascript" src="/javascripts/sweetalert2.min.js"></script>
    <script type="text/javascript" src="/javascripts/ace/ace.js"></script>
    <script type="text/javascript" src="/javascripts/account.js"></script> {{{_sections.script}}}

</body>

</html>